@use "@/styles/mixins.scss" as *;

.badge {
	display: inline-block;

	margin-top: 1rem;
	padding: 0.1rem 0.6rem;
	background-color: var(--subtext);

	p {
		color: var(--primary);
		font-size: 0.8rem;
	}

	@include border($color: var(--subtext));

	&:not(:last-child) {
		margin-right: 0.5rem;
	}
}
