@use "@/styles/mixins.scss" as *;

.main {
	height: 100%;
	width: 100%;
	padding: 2rem;

	overflow: hidden;

	@include flex(column, space-between);

	@include desktop-up {
		flex-direction: row;
	}
}
