@use "@/styles/mixins.scss" as *;

.details {
	display: grid;
	grid-template-columns: 1fr;

	// Change border colour depending on selected project
	border-color: var(--primary);
	transition: all 0.25s ease-in-out;

	&.left {
		border-color: #2d9113;
	}
	&.center {
		border-color: #871b11;
	}
	&.right {
		border-color: #ecbd73;
	}
}
