@use "@/styles/mixins.scss" as *;

.project {
	opacity: 0;
	visibility: hidden;

	transform: translateY(25px);

	&.show {
		opacity: 1;
		visibility: visible;
		transform: none;
	}

	transition: all 0.25s ease-in-out;
}

.desc {
	margin: 1rem auto;
}

.data {
	@include flex(row, space-evenly);
}

.link {
	margin-top: 2rem;
}

.images {
	margin-top: 2rem;

	> div {
		margin-top: 3rem;
	}
}
