@use "@/styles/mixins.scss" as *;

.form {
	margin-top: 1rem;
}

.submitSection {
	margin-top: 1rem;
}

.error {
	border-color: var(--red) !important;
}

.errorMessage {
	margin: 5px 0 1rem 5px;
	font-size: 0.8rem;
	color: var(--red);
}

.failedToSendMessage {
	margin-bottom: 1rem;
	color: var(--red);

	a {
		color: var(--red);
		text-decoration: underline;
	}
}
