@use "@/styles/mixins.scss" as *;

.title {
	flex: 1;
	@include flex();
}

.first {
	line-height: 6vw;
}

@include mobile-only() {
	.first {
		font-size: 15vw;
		line-height: 10vw;
	}

	.last {
		font-size: 6vw;
	}
}

@include desktop-up() {
	.first {
		font-size: 10vw;
	}

	.last {
		font-size: 5vw;
	}
}
