.list {
	.listItem {
		// display: inline;
	}
}

.listItem {
	margin: 0.5rem auto;

	li {
		display: inline;
	}
}

.icon {
	margin-right: 0.5rem;
	svg {
		display: inline-block;
		vertical-align: top;
	}
}
