@use "@/styles/mixins.scss" as *;

.container {
	position: relative;
	overflow: hidden;

	flex-shrink: 0;

	height: 300px;
	width: 500px;

	@include border;
	// Image
	img {
		object-fit: cover;
		object-position: top;
	}
}

.description {
	position: absolute;
	top: 1rem;
	left: 1rem;

	padding: 0.25rem 1rem;

	font-weight: 600;

	background-color: var(--primary);
	@include border(6px);
}
