@use "@/styles/mixins.scss" as *;

.main {
	height: 100%;
	width: 100%;

	padding: 1rem;

	overflow: hidden;

	@include desktop-up {
		padding: 2rem;
	}

	@include flex(column, flex-start, center);
}

.content {
	max-width: 700px;
}
