@use "@/styles/mixins.scss" as *;

.wrapper {
	width: 100%;
	height: 100%;
	min-height: 400px;

	text-align: center;

	@include flex(column, space-evenly);
	flex: 1;

	@include desktop-up() {
		.wrapper {
			height: 80%;
			min-width: 600px;
		}
	}
}

.nav {
	@include flex(row, space-between);
	width: 95%;
	max-width: 3000px;

	flex: 1;
}

.link {
	position: relative;

	button {
		z-index: 100;
		position: relative;
	}

	&:hover {
		cursor: pointer;

		.icon {
			transform: translateX(-50%) scale(1.1);
			transition: transform 0.05s ease-in-out;
		}
	}

	margin: auto 10px;
}

// Mobile
@include mobile-only() {
	.nav {
		flex-direction: column;
		flex: 2;
	}

	.link:not(:last-child) {
		margin-bottom: 50px;
	}
}
