.list {
	.listItem {
		// display: inline;
	}
}

.listItem {
	margin: 0.5rem auto;

	li {
		display: inline;
	}
}

$svgSize: 20px;

.icon {
	margin-right: 0.5rem;
	svg {
		display: inline-block;
		vertical-align: bottom;

		height: $svgSize;
		width: $svgSize;
	}
}
