// -----------------------------------------------------------------------------
// IMPORTS
// -----------------------------------------------------------------------------
@use "@/styles/mixins.scss" as *;
@import "@/styles/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&family=Ubuntu+Mono:ital,wght@0,700;1,400&display=swap");

// -----------------------------------------------------------------------------
// SCSS VARIABLES
// -----------------------------------------------------------------------------

:root {
	--primary: #1f66ff;
	--secondary: #fff;

	--background: #1f66ff;

	--heading: #fff;
	--text: #fff;
}

#__next {
	height: 100%;
}

html,
body {
	scroll-behavior: smooth;

	background-color: var(--background);
	color: var(--text);
	height: -webkit-fill-available;
}

body {
	font-family: "Ubuntu Mono", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
label {
	color: var(--heading);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p {
	font-size: 1rem;
}

img {
	width: 100%;
	height: 100%;
	background-size: cover;
	object-fit: cover;
}
